<li>
	{{burger_name}}

	<a class="change-devour btn btn-danger mb-2" href="{{this.id}}" data-newDevoured="{{devour}}">
		{{#unless devoured}}Devour{{/unless}}
	</a>

	<a class="delete-burger btn btn-warning mb-2" href="/delete/{{this.id}}">DELETE!</a>
</li>
