<li>
	{{burger_name}}

	<a class="change-devour" href="{{this.id}}" data-newDevoured="{{devour}}">
		{{#unless devoured}}Devour{{/unless}}
	</a>

	<a class="delete-burger" href="/delete/{{this.id}}">DELETE!</a>
</li>
